<launch>

	<param name="/number_publish_frequency" type="double" value="3.0" />
	<param name="/number_to_publish" type="int" value="10" />

	<node name="number_publisher" pkg="my_robot_tutorials" type="number_publisher" />
	<node name="number_counter" pkg="my_robot_tutorials" type="number_counter.py" />

</launch>
